* {
  padding: 0px;
  margin: 0px;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

header {
  grid-column: 2/5;
}

aside {
  grid-row: 1/4;
}

/* main books */
main {
  grid-area: 2 / 2 / 4 / 5;
}

#content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat((auto-fit, minmax(300, 1fr)));
  row-gap: 10px;
}

.book {
  width: 300px;
  height: 200px;
  background-color: grey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* modal style */
.addModal {
  visibility: hidden;
  position: absolute;
  place-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 300px;
  background-color: lightgrey;
  border-radius: 5px;
}

.addModal > h3 {
  margin-bottom: 10px;
}

.addModal form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  width: 150px;
}

.newBook {
  padding: 5px;
  border-radius: 5px;
  border-color: lightgrey;
}
/* Responsiveness */
@media screen and (max-width: 700px) {
  .book {
    width: 200px;
    height: 150px;
    place-self: center;
  }
}
