@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,300&family=Zeyada&display=swap");

:root {
  --clr1: #ff6d00;
  --clr2: #6798c0;
  --clr3: #f0ead2;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Noto Sans", sans-serif;
}

body {
  background-image: url(./images/susan-q-yin-2JIvboGLeho-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
}

header {
  grid-column: 2/5;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

header h1 {
  letter-spacing: 2px;
  background-color: var(--clr3);
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

#add {
  width: 6rem;
  padding: 5px 10px;
  background-color: var(--clr1);
  border-color: var(--clr1);
  border-radius: 3px;
  font-weight: 570;
}

aside {
  grid-row: 1/2;
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
}

/* main books */
main {
  grid-area: 2 / 1 / 4 / 5;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 10px;
}

.book {
  place-self: center;
  width: 250px;
  height: 200px;
  border-radius: 5px;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  background-color: #fffdf7;
}

/* modal style */
.addModal {
  visibility: hidden;
  position: absolute;
  place-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 300px;
  background-color: var(--clr3);
  border-radius: 5px;
}

.addModal > h3 {
  margin-bottom: 10px;
}

.addModal form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  width: 150px;
}

.newBook {
  padding: 5px;
  border-radius: 5px;
  border-color: lightgrey;
  border-color: var(--clr1);
  background-color: var(--clr1);
}

/* if read */
.read {
  border-left: 8px solid blue;
}

/* if not read */

.unread {
  border-left: 8px solid red;
}

/* delete btn and is Read button */
.numberBtn,
.haveRead {
  width: 6rem;
  padding: 0px 8px;
  margin-bottom: 5px;
  border-radius: 5px;
  border-color: var(--clr2);
  background-color: var(--clr2);
}

.numberBtn {
  width: 6.5rem;
}

/* Responsiveness */
@media screen and (max-width: 500px) {
  header h1 {
    font-size: 1.4rem;
  }

  .book {
    width: 180px;
    height: 155px;
    place-self: center;
    padding: 0.9rem;
  }

  aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-size: 0.9rem;
  }

  .book h4 {
    font-size: 0.9rem;
    margin-left: 5px;
  }

  .book p {
    font-size: 0.7rem;
    margin-left: 5px;
  }

  .addModal {
    width: 210px;
    height: 300px;
  }

  main {
    margin-top: 0.6rem;
  }
}
